<!doctype html>
<html lang="en">
	<%- include('partials/metadata', { title }) %>
	<body>
		<div id="root">
			<%- include('partials/navbar', { title }) %>
			<main>
				<%- include('partials/tabs', { categories }) %>

				<%- include('partials/search-bar') %>

				<div class="grid">
					<% for (const { id, name, img_url } of items) { %>
					<div class="cell">
						<%- include('partials/img-link', { href: `item/${id}`, name, img_url
						}) %>
					</div>
					<% } %>
				</div>
			</main>
			<%- include('partials/footer', { title }) %>
		</div>
	</body>
</html>
