<!doctype html>
<html lang="en">
	<%- include('partials/metadata', { title }) %>
	<body>
		<div id="root">
			<%- include('partials/navbar') %>
			<main>
				<%- include('partials/tabs', { route: 'categories', categories }) %>

				<%- include('partials/forms/search') %>

				<div class="grid">
					<% for (const { id, name, img_url } of locals.items) { %>
					<div class="cell">
						<%- include('partials/img-link', { href: `item/${id}/`, name,
						img_url }) %>
					</div>
					<% } %>
				</div>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
