<!doctype html>
<html lang="en">
	<%- include('partials/metadata', { title }) %>
	<body>
		<div id="root">
			<%- include('partials/navbar', { title }) %>
			<main>
				<img src="<%= item.img_url %>" alt="" width="128" height="128" />
				<h2><%= item.name %></h2>
				<p><%= item.description %></p>
			</main>
			<%- include('partials/footer', { title }) %>
		</div>
	</body>
</html>
