<!doctype html>
<html lang="en">
	<%- include('partials/metadata', { title }) %>
	<body>
		<div id="root">
			<%- include('partials/navbar') %>
			<main>
				<a href="/create-category">Create category</a>

				<%- include('partials/tabs', { route: 'manage-categories', categories }) %>

				<section class="category">
					<img
						src="<%= locals.category.img_url %>"
						alt=""
						width="128"
						height="128"
					/>
					<h3><%= locals.category.name %></h3>
					<p>Item quantity: <%= locals.itemCount %></p>
					<ul class="actions">
						<li>
							<a href="/create-item/<%= locals.category.id %>">Create item</a>
						</li>
						<li>
							<a href="/edit-category/<%= locals.category.id %>">
								Edit category
							</a>
						</li>
					</ul>
				</section>
			</main>
			<%- include('partials/footer') %>
		</div>
	</body>
</html>
