<!doctype html>
<html lang="en">
	<%- include('partials/metadata', { title }) %>
	<body>
		<div id="root">
			<%- include('partials/navbar', { title }) %>
			<main>
				<%- include('partials/tabs', { categories }) %>

				<%- include('partials/search-bar') %>

				<ul class="items">
					<% for (const { id, category_id, name, img_url } of items) { %>
					<li class="item">
						<%- include('partials/img-link', { href:
						`/categories/${category_id}/item/${id}`, name, img_url }) %>
					</li>
					<% } %>
				</ul>
			</main>
			<%- include('partials/footer', { title }) %>
		</div>
	</body>
</html>
